html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin: 30px 0px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  background-color: white;
}

.color {
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
}

.colors {
  display: flex;
}

.controls,
.colors {
  margin-top: 50px;
}

.color {
  margin-bottom: 30px;
}

button {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 0px;
  padding: 5px 7px;
  min-width: 50px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid rgb(142, 142, 147);
  color: rgb(142, 142, 147);
  font-size: 14px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
